.participant-name {
  display: inline;
  cursor: pointer;
  font-size: 1.1rem;
}

.participant-name:hover {
  text-decoration: underline;
}

.answer-wrapper {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.answer-text {
  font-style: italic;
}
