<h3 *ngIf="quiz">{{ quiz["name"] }}</h3>
<h5><span *ngIf="finalRound">Final </span>Leaderboard</h5>

<table class="table" *ngIf="participants">
  <tr>
    <th class="pl-0">Pos</th>
    <th class="pl-0">Participant</th>
    <th class="pl-0">Score</th>
  </tr>
  <tr *ngFor="let participant of participants; index as i">
    <td class="plain-text pl-0">{{ i + 1 }}</td>
    <td class="plain-text pl-0">{{ participant["name"] }}</td>
    <td class="plain-text pl-0">{{ participant["score"] }}</td>
  </tr>
</table>

<button
  [disabled]="disableSubmit"
  *ngIf="!finalRound"
  class="btn custom-btn submit-btn"
  (click)="onProceed()"
>
  Proceed
</button>
