<h5 *ngIf="quiz">Round {{ quiz["current_round"] + 1 }}</h5>

<form
  *ngIf="answersFormData && answersFormData.controls"
  [formGroup]="answersFormData"
  (ngSubmit)="onClickSubmit()"
>
  <div class="form-group">
    <div *ngFor="let question of questions">
      <p class="plain-text question">{{ question["question"] }}</p>
      <input
        class="form-control"
        [formControlName]="question['question']"
        placeholder="Enter answer here"
      />
    </div>
  </div>
  <button
    [disabled]="disableSubmit || submitted"
    class="btn custom-btn submit-btn"
  >
    Submit
  </button>
</form>
