<h3 *ngIf="quiz">{{ quiz.name }}</h3>
<h5 *ngIf="quiz">Round {{ quiz.current_round + 1 }}</h5>

<form
  *ngIf="answersFormData && answersFormData.controls"
  [formGroup]="answersFormData"
  (ngSubmit)="onClickSubmit(false)"
>
  <div class="form-group">
    <div
      *ngFor="let question of questions; index as i"
      class="question-container"
    >
      <p class="question-title">Question {{ i + 1 }}</p>
      <p class="plain-text question-text">{{ question.question }}</p>
      <input
        class="form-control"
        [formControlName]="question.question"
        placeholder="Enter answer here"
      />
    </div>
  </div>
  <button
    [disabled]="disableSubmit || submitted"
    class="btn custom-btn submit-btn"
  >
    Submit
  </button>
</form>

<!-- Modal -->
<div
  class="modal fade"
  id="confirmSubmitModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmSubmitModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmSubmitModalLabel">
          Not All Questions Answered!
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body plain-text">
        Are you sure you want to submit?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn custom-btn greyed"
          data-dismiss="modal"
        >
          No
        </button>
        <button
          type="button"
          class="btn custom-btn submit-btn"
          (click)="onClickSubmit(true)"
          data-dismiss="modal"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
