:root {
  --main-bg-color: #ffffff;
  --main-text-color: #1d3557;

  --banner-bg-color-1: #2a1e5c;
  --banner-bg-color-2: #402d8b;
  --banner-text-color: #ffffff;

  --main-btn-bg-color: #e63946;
  --main-btn-text-color: #ffffff;

  --submit-btn-bg-color: #457b9d;
  --submit-btn-text-color: #ffffff;
}

html,
body {
  font-family: "Righteous", cursive;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

.banner {
  background: var(--banner-bg-color-1);
  background: linear-gradient(
    120deg,
    var(--banner-bg-color-1) 40%,
    var(--banner-bg-color-2) 40%
  );
  color: var(--banner-text-color);
  padding: 20px 40px;
}

.title {
  font-size: 48px;
}

.wrapper {
  margin: 20px 40px;
}

.custom-btn {
  color: white;
  margin: 5px 0px;
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
}

.main-btn {
  background: var(--main-btn-bg-color);
  color: var(--main-btn-text-color);
  line-height: 2.5;
}

.submit-btn {
  background: var(--submit-btn-bg-color);
  color: var(--submit-btn-text-color);
  line-height: 1.5;
}

input {
  width: 100%;
}

input,
.form-control,
.plain-text {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

p.secondary {
  opacity: 80%;
}

.btn-with-icon {
  padding: 0px;
  display: block;
}
.btn-with-icon-icon {
  margin: 10px 10px 10px 0px;
  max-height: 30px;
}
.btn-with-icon-text {
  display: inline;
}
