<h5 *ngIf="quiz">{{ quiz["name"] }}</h5>

<h6 *ngIf="numRounds">{{ numRounds }} Rounds</h6>
<p *ngIf="numQuestions">{{ numQuestions }} Questions</p>
<br />
<p *ngIf="quiz">Quiz Code: {{ quiz["id"] }}</p>
<p *ngIf="quiz">Link: {{ baseUrl }}?quiz-id={{ quiz["id"] }}</p>
<button *ngIf="quiz" class="btn" [cdkCopyToClipboard]="getQuizLink()">
  Copy Link
</button>

<h5>Participants</h5>
<div *ngIf="participants">
  <div *ngFor="let participant of participants">
    <span>{{ participant["name"] }}</span>
    <button (click)="onRemoveParticipant(participant)">Remove</button>
  </div>
</div>

<button [disabled]="disableSubmit" class="btn custom-btn submit-btn" (click)="onStartQuiz()">
  Start Quiz
</button>
