<div *ngIf="quiz">
  <div id="quiz-info">
    <h3>{{ quiz.name }}</h3>
    <h6 *ngIf="numRounds">{{ numRounds }} Rounds</h6>
    <p *ngIf="numQuestions" class="secondary">{{ numQuestions }} Questions</p>
  </div>

  <div id="quiz-code">
    <p class="mb-0">Quiz Code: {{ quiz.id }}</p>
    <button class="btn btn-with-icon" [cdkCopyToClipboard]="getQuizLink()">
      <img
        src="assets/copy_link.svg"
        alt="Copy Link"
        class="btn-with-icon-icon"
      />
      <p class="btn-with-icon-text secondary mb-0">Copy Link</p>
    </button>
  </div>

  <h5>Participants</h5>
  <div *ngIf="participants">
    <p *ngIf="participants.length == 0" class="secondary">
      No participants yet
    </p>
    <div *ngFor="let participant of participants">
      <p class="participant-name">{{ participant.name }}</p>
      <button
        (click)="onRemoveParticipant(participant)"
        id="remove-participant-btn"
        class="btn"
      >
        <img src="assets/remove_x.svg" alt="Remove" />
      </button>
    </div>
  </div>

  <button
    [disabled]="loading"
    class="btn custom-btn submit-btn"
    (click)="onStartQuiz()"
  >
    <span *ngIf="loading" class="loading-spinner"></span>
    <span *ngIf="!loading">Start Quiz</span>
  </button>
</div>
